<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="socrataAPIKey" value=""/>
    <add key="socrataUsername" value=""/>
    <add key="socrataPassword" value=""/>
    <add key="socrataResourceId" value=""/>
  </appSettings>
</configuration>